@model Team_4_Project.Models.Disputes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disputes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisputeComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisputeComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisputeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisputeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DisputesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
