@model Team_4_Project.Models.Payee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeStreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeeStreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeCityAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeeCityAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeStateAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeeStateAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeeZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayeeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PayeeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
