@model IEnumerable<Team_4_Project.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        
        <a asp-action="Create" asp-controller="Account" class="btn btn-warning">Apply for Portfolio</a>
    }
    
    
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balanced)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balanced)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.AccountID">Details |</a>
                    <a asp-action="Index" asp-controller="StockPortion" asp-route-accountID="@item.AccountID">View Stocks in Portfolio</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
